<footer class="footer-area pt-85 pb-60">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <!-- start contact us widget -->
          <div class="widget contact-us">
            <h3>Контакты</h3>
            <ul>
              <li>
                <a href="#"
                  ><i class="fal fa-paper-plane"></i>Бухарская область,
                  200700, город Каган, ГСП</a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fal fa-envelope"></i>support@admin.com</a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fal fa-phone-alt"></i>+99893 683 93 81 +99894
                  653 22 81, +99894 540 03 07 +99891 418 55 65</a
                >
              </li>
            </ul>
          </div>
          <!-- end contact us widget -->
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer Area -->
  <!-- Start Copyright Area -->
  <div class="copy-right-area">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <!-- Start copyright text -->
          <div class="copyright-text text-center">
            <p>© 2024 All rights reserved.</p>
          </div>
          <!-- End copyright text -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Copyright Area -->
</div>
<!-- End Wrapper -->
<!-- all js here -->
<!-- jquery latest version -->
<script src="js/vendor/jquery-3.3.1.min.js"></script>
<!-- bootstrap js -->
<script src="js/bootstrap.min.js"></script>
<!-- popper js -->
<script src="js/popper.min.js"></script>
<!-- owl carousel js -->
<script src="js/owlcarousel.min.js"></script>
<!-- meanmenu js -->
<script src="js/meanmenu.min.js"></script>
<!-- counterup js -->
<script src="js/counterup.min.js"></script>
<!-- scrollup js -->
<script src="js/scrollup.min.js"></script>
<!-- waypoints js -->
<script src="js/waypoints.min.js"></script>
<!-- imagesloaded js -->
<script src="js/imagesloaded.pkgd.min.js"></script>
<!-- Isotope js -->
<script src="js/isotope.min.js"></script>
<!-- main js -->
<script src="js/main.js"></script>