<div class="container">
  <!-- Start header top -->
  <div class="row">
    <div class="col-lg-6 col-sm-9">
      <div class="header-top-contact">
        <ul>
          <li>
            <a href="mailto:yourname@email.com"
              ><i class="fal fa-envelope"></i>support@adventuregene.com</a
            >
          </li>
          <li>
            <a href="tel:+008012345678"
              ><i class="fal fa-phone-alt"></i>012 345 6789</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6 col-sm-3">
      <div class="header-top-left">
        <ul>
          <li class="has-dropdown">
            <a href="#">UZ</a>
            <ul>
              <li><a href="#">RU</a></li>
              <li><a href="#">EN</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- Header top contact -->
    </div>
  </div>
  <!-- Start header top -->
</div>
<div class="navigation-area">
  <div class="container">
    <div class="row navigation-bg">
      <div class="col-lg-2 col-sm-4 col-4">
        <!-- Start site logo -->
        <div class="site-logo">
          <a href="/"><img src="img/logo.png" alt="GENE" /></a>
        </div>
        <!-- End site logo -->
      </div>
      <div class="col-lg-8 col-sm-4 col-2 order-two">
        <!-- Start Navigation -->
        <div class="main-menu-wrap">
          <nav class="gene-nav">
            <ul class="menu">
              <li>
                <a href="javascript:void(0)">Ekskursiyalar</a>
              </li>
              <li>
                <a href="javascript:void(0)">Dam olish joylar</a>
              </li>
              <li>
                <a href="javascript:void(0)">Eko sentr</a>
                <ul>
                  <!-- Dropdown Items -->
                  <li><a href="blog-1.html">Jeyran ga sayohat</a></li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0)">Yo'nalishlar</a>
              </li>
              <li>
                <a href="javascript:void(0)">Sayohat</a>
              </li>
              <li>
                <a href="login"><i class="far fa-user"></i> LOGIN</a>
              </li>
            </ul>
          </nav>
        </div>
        <!-- Mobile Menu Active here. Don't Remove it -->
        <div class="mobile-menu-area"></div>
        <!-- End Navigation -->
      </div>
    </div>
  </div>
</div>
