<section class="slider-area">
  <div id="welcome-slide" class="slide-controls owl-carousel">
    <!-- Start Single Slide -->
    <div class="single-slide overlay-bg-2">
      <div class="slide-thumb shape-1">
        <img
          src="img/slider/slide-1.jpg"
          alt=""
          style="height: 1000px !important"
        />
        <!-- Start Slide Content -->
        <div class="slide-content">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-10 col-sm-12">
                <!-- Start Slide content wrap -->
                <div class="slide-content-area">
                  <!-- Start Single slide content	-->
                  <div class="single-slide-content text-center">
                    <div class="content-text">
                      <h1>Adventure <span></span> In Wild Places</h1>
                      <h2>
                        It's time for new
                        <strong>Escapes, Thrills</strong>
                        <span></span> and <strong>Experiences</strong>
                      </h2>
                    </div>
                    <div class="find-adventure-form text-center">
                      <form action="#">
                        <select
                          class="form-select"
                          aria-label="Default select example"
                        >
                          <option selected>Select Adventure</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <select
                          class="form-select"
                          aria-label="Default select example"
                        >
                          <option selected>Select Destination</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <input type="date" name="date" />
                        <input
                          class="btn btn-theme"
                          type="submit"
                          value="Find Your Adventure"
                        />
                      </form>
                    </div>
                  </div>
                  <!-- End Single slide content	-->
                </div>
                <!-- End Slide content wrap-->
              </div>
            </div>
          </div>
        </div>
        <!-- End Slide Content -->
      </div>
    </div>
    <!-- End Single Slide -->
    <!-- Start Single Slide -->
    <div class="single-slide overlay-bg-2">
      <div class="slide-thumb shape-1">
        <img src="img/slider/slide-2.jpg" alt="" />
        <!-- Start Slide Content -->
        <div class="slide-content">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-10 col-sm-12">
                <!-- Start Slide content wrap -->
                <div class="slide-content-area">
                  <!-- Start Single slide content	-->
                  <div class="single-slide-content text-center">
                    <div class="content-text">
                      <h1>Adventure <span></span> In Wild Places</h1>
                      <h2>
                        It's time for new
                        <strong>Escapes, Thrills</strong>
                        <span></span> and <strong>Experiences</strong>
                      </h2>
                    </div>
                    <div class="find-adventure-form text-center">
                      <form action="#">
                        <select
                          class="form-select"
                          aria-label="Default select example"
                        >
                          <option selected>Select Adventure</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <select
                          class="form-select"
                          aria-label="Default select example"
                        >
                          <option selected>Select Destination</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <input type="date" name="date" />
                        <input
                          class="btn btn-theme"
                          type="submit"
                          value="Find Your Adventure"
                        />
                      </form>
                    </div>
                  </div>
                  <!-- End Single slide content	-->
                </div>
                <!-- End Slide content wrap-->
              </div>
            </div>
          </div>
        </div>
        <!-- End Slide Content -->
      </div>
    </div>
    <!-- End Single Slide -->
    <!-- Start Single Slide -->
    <div class="single-slide overlay-bg-2">
      <div class="slide-thumb shape-1">
        <img src="img/slider/slide-3.jpg" alt="" />
        <!-- Start Slide Content -->
        <div class="slide-content">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-10 col-sm-12">
                <!-- Start Slide content wrap -->
                <div class="slide-content-area">
                  <!-- Start Single slide content	-->
                  <div class="single-slide-content text-center">
                    <div class="content-text">
                      <h1>Adventure <span></span> In Wild Places</h1>
                      <h2>
                        It's time for new
                        <strong>Escapes, Thrills</strong>
                        <span></span> and <strong>Experiences</strong>
                      </h2>
                    </div>
                    <div class="find-adventure-form text-center">
                      <form action="#">
                        <select
                          class="form-select"
                          aria-label="Default select example"
                        >
                          <option selected>Select Adventure</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <select
                          class="form-select"
                          aria-label="Default select example"
                        >
                          <option selected>Select Destination</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        <input type="date" name="date" />
                        <input
                          class="btn btn-theme"
                          type="submit"
                          value="Find Your Adventure"
                        />
                      </form>
                    </div>
                  </div>
                  <!-- End Single slide content	-->
                </div>
                <!-- End Slide content wrap-->
              </div>
            </div>
          </div>
        </div>
        <!-- End Slide Content -->
      </div>
    </div>
    <!-- End Single Slide -->
  </div>
</section>
