<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Site Title -->
    <title>Home</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.png" />
    <!-- Bootstrap v5.0.2 css -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <!-- Animate css -->
    <link rel="stylesheet" href="css/animate.min.css" />
    <!--====== Fontawesome ======-->
    <link
      rel="stylesheet"
      href="fonts/fontawesome/css/fontawesome.all.min.css"
    />
    <!-- Owl carousel css -->
    <link rel="stylesheet" href="css/owl-carousel.min.css" />
    <!-- Meanmenu css -->
    <link rel="stylesheet" href="css/meanmenu.min.css" />
    <!-- cssanimation css -->
    <link rel="stylesheet" href="css/cssanimation.min.css" />
    <!-- Default css -->
    <link rel="stylesheet" href="css/default.css" />
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css" />
  </head>
  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->
    <!-- Start Preloader -->
    <div class="preloader-wrap">
      <div class="cube-wrapper">
        <div class="cube-folding">
          <span class="leaf1"></span>
          <span class="leaf2"></span>
          <span class="leaf3"></span>
          <span class="leaf4"></span>
        </div>
        <span class="loading" data-name="Loading">Зарузка</span>
      </div>
    </div>
    <!-- End Preloader -->
    <!-- Start Wrapper -->
    <div class="wrapper">
      <!-- Start Header -->
      <header id="header" class="header-area absulate-header">
        <div class="container">
          <!-- Start header top -->
          <div class="row">
            <div class="col-lg-6 col-sm-3">
              <div class="header-top-left">
                <ul>
                  <li class="has-dropdown">
                    <a href="#">RU</a>
                    <ul>
                      <li><a href="#">UZ</a></li>
                      <li><a href="#">EN</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6 col-sm-9">
              <!-- Header top contact -->
              <!-- <div class="header-top-contact">
                <ul>
                  <li>
                    <a href="mailto:yourname@email.com"
                      ><i class="fal fa-envelope"></i
                      >support@adventuregene.com</a
                    >
                  </li>
                  <li>
                    <a href="tel:+008012345678"
                      ><i class="fal fa-phone-alt"></i>012 345 6789</a
                    >
                  </li>
                </ul>
              </div> -->
            </div>
          </div>
          <!-- Start header top -->
        </div>
        <div class="navigation-area">
          <div class="container">
            <div class="row navigation-bg">
              <div class="col-lg-2 col-sm-4 col-4">
                <!-- Start site logo -->
                <div class="site-logo">
                  <a href="index.html"
                    ><img
                      src="img/logo.png"
                      alt="GENE"
                      style="
                        width: 195px !important;
                        max-width: none !important;
                      "
                  /></a>
                </div>
                <!-- End site logo -->
              </div>
              <div class="col-lg-8 col-sm-4 col-2 order-two">
                <!-- Start Navigation -->
                <div class="main-menu-wrap">
                  <nav class="gene-nav">
                    <ul class="menu">
                      <li>
                        <a href="javascript:void(0)">Туры</a>
                        <!-- <ul>
                          <li><a href="index.html">Homepage V1</a></li>
                          <li><a href="index-2.html">Homepage V2</a></li>
                          <li><a href="index-3.html">Homepage V3</a></li>
                        </ul> -->
                      </li>
                      <li>
                        <a href="javascript:void(0)">Виды отдыха</a>
                        <!-- <ul>
                          <li>
                            <a href="adventure-1.html">Adventure List One</a>
                          </li>
                          <li>
                            <a href="adventure-2.html">Adventure List Two</a>
                          </li>
                          <li>
                            <a href="adventure-3.html">Adventure List Three</a>
                          </li>
                          <li>
                            <a href="adventure-detail-1.html"
                              >Adventure Details</a
                            >
                          </li>
                        </ul> -->
                      </li>
                      <li class="has-dropdown">
                        <a href="javascript:void(0)">Экоцентры </a>
                        <ul>
                          <li>
                            <a href="javascript:void(0)">Питомник «Джейран»</a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href="javascript:void(0)">Маршруты</a>
                        <!-- <ul>
                          <li><a href="about.html">About Us</a></li>
                          <li><a href="login.html">Log In</a></li>
                          <li><a href="signup.html">Sign Up</a></li>
                          <li><a href="404.html">Error</a></li>
                        </ul> -->
                      </li>
                      <li>
                        <a href="javascript:void(0)">Туристические компании</a>
                        <!-- <ul>
                          <li><a href="cart.html">Cart</a></li>
                          <li><a href="check-out.html">Check Out</a></li>
                        </ul> -->
                      </li>
                      <!-- <li><a href="contact.html">Contact</a></li> -->
                    </ul>
                  </nav>
                </div>
                <!-- Mobile Menu Active here. Don't Remove it -->
                <div class="mobile-menu-area"></div>
                <!-- End Navigation -->
              </div>
              <div class="col-lg-2 col-sm-4 col-6 order-one">
                <!-- Start login and cart -->
                <div class="login-cart">
                  <ul>
                    <li>
                      <a href="javascript:void(0)"
                        ><i class="far fa-user"></i>Логин</a
                      >
                    </li>
                    <!-- <li class="cart-mega">
                      <a
                        href="#ec-side-cart"
                        class="ec-header-btn ec-side-toggle"
                      >
                        <div class="header-icon">
                          <i class="fal fa-shopping-basket"></i
                          ><small>(0)</small>
                        </div>
                      </a>
                    </li> -->
                  </ul>
                </div>
                <!-- End login and cart -->
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- End Header -->
      <!-- Start Slider Area -->
      <section class="slider-area">
        <div id="welcome-slide" class="slide-controls owl-carousel">
          <!-- Start Single Slide -->
          <div class="single-slide overlay-bg-2">
            <div class="slide-thumb shape-1">
              <img src="img/slider/slide-1.jpg" alt="" />
              <!-- Start Slide Content -->
              <div class="slide-content">
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-lg-10 col-sm-12">
                      <!-- Start Slide content wrap -->
                      <div class="slide-content-area">
                        <!-- Start Single slide content	-->
                        <div class="single-slide-content text-center">
                          <div class="content-text">
                            <h1>УЗБЕКИСТАН</h1>
                          </div>
                          <div class="find-adventure-form text-center">
                            <form action="#">
                              <select
                                class="form-select"
                                aria-label="Default select example"
                              >
                                <option selected>Выберите провинция</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                              <select
                                class="form-select"
                                aria-label="Default select example"
                              >
                                <option selected>
                                  Выберите пункт назначения
                                </option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                              <input type="date" name="date" />
                              <input
                                class="btn btn-theme"
                                type="submit"
                                value="Поиск"
                              />
                            </form>
                          </div>
                        </div>
                        <!-- End Single slide content	-->
                      </div>
                      <!-- End Slide content wrap-->
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Slide Content -->
            </div>
          </div>
          <!-- End Single Slide -->
          <!-- Start Single Slide -->
          <div class="single-slide overlay-bg-2">
            <div class="slide-thumb shape-1">
              <img src="img/slider/slide-2.jpg" alt="" />
              <!-- Start Slide Content -->
              <div class="slide-content">
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-lg-10 col-sm-12">
                      <!-- Start Slide content wrap -->
                      <div class="slide-content-area">
                        <!-- Start Single slide content	-->
                        <div class="single-slide-content text-center">
                          <div class="content-text">
                            <h1>Adventure <span></span> In Wild Places</h1>
                            <h2>
                              It's time for new
                              <strong>Escapes, Thrills</strong>
                              <span></span> and <strong>Experiences</strong>
                            </h2>
                          </div>
                          <div class="find-adventure-form text-center">
                            <form action="#">
                              <select
                                class="form-select"
                                aria-label="Default select example"
                              >
                                <option selected>Select Adventure</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                              <select
                                class="form-select"
                                aria-label="Default select example"
                              >
                                <option selected>Select Destination</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                              <input type="date" name="date" />
                              <input
                                class="btn btn-theme"
                                type="submit"
                                value="Find Your Adventure"
                              />
                            </form>
                          </div>
                        </div>
                        <!-- End Single slide content	-->
                      </div>
                      <!-- End Slide content wrap-->
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Slide Content -->
            </div>
          </div>
          <!-- End Single Slide -->
          <!-- Start Single Slide -->
          <div class="single-slide overlay-bg-2">
            <div class="slide-thumb shape-1">
              <img src="img/slider/slide-3.jpg" alt="" />
              <!-- Start Slide Content -->
              <div class="slide-content">
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-lg-10 col-sm-12">
                      <!-- Start Slide content wrap -->
                      <div class="slide-content-area">
                        <!-- Start Single slide content	-->
                        <div class="single-slide-content text-center">
                          <div class="content-text">
                            <h1>Adventure <span></span> In Wild Places</h1>
                            <h2>
                              It's time for new
                              <strong>Escapes, Thrills</strong>
                              <span></span> and <strong>Experiences</strong>
                            </h2>
                          </div>
                          <div class="find-adventure-form text-center">
                            <form action="#">
                              <select
                                class="form-select"
                                aria-label="Default select example"
                              >
                                <option selected>Select Adventure</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                              <select
                                class="form-select"
                                aria-label="Default select example"
                              >
                                <option selected>Select Destination</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                              <input type="date" name="date" />
                              <input
                                class="btn btn-theme"
                                type="submit"
                                value="Find Your Adventure"
                              />
                            </form>
                          </div>
                        </div>
                        <!-- End Single slide content	-->
                      </div>
                      <!-- End Slide content wrap-->
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Slide Content -->
            </div>
          </div>
          <!-- End Single Slide -->
        </div>
      </section>
      <!-- End Slider Area -->
      <!-- Start Quick Icon Area -->
      <div class="quick-icon-area pb-90">
        <div class="container">
          <div class="row">
            <div class="col-lg-2 col-sm-4">
              <!-- Start single quick icon -->
              <div class="single-quick-icon text-center">
                <div class="quick-icon-content">
                  <h1>3</h1>
                  <p>Этажное здание «Визит-центра»</p>
                </div>
              </div>
              <!-- End single quick icon -->
            </div>
            <div class="col-lg-2 col-sm-4">
              <!-- Start single quick icon -->
              <div class="single-quick-icon text-center">
                <div class="quick-icon-content">
                  <h1>20</h1>
                  <p>Мест</p>
                </div>
              </div>
              <!-- End single quick icon -->
            </div>
            <div class="col-lg-2 col-sm-4">
              <!-- Start single quick icon -->
              <div class="single-quick-icon text-center">
                <div class="quick-icon-content">
                  <h1>10</h1>
                  <p>Современных комнат по 2 кровати в каждой</p>
                </div>
              </div>
              <!-- End single quick icon -->
            </div>
            <div class="col-lg-2 col-sm-4">
              <div class="single-quick-icon text-center">
                <div class="quick-icon-content">
                  <h1>40</h1>
                  <p>Мест конференц-зал</p>
                </div>
              </div>
              <!-- End single quick icon -->
            </div>
            <div class="col-lg-2 col-sm-4">
              <!-- Start single quick icon -->
              <div class="single-quick-icon text-center">
                <div class="quick-icon-content">
                  <h1>40</h1>
                  <p>Мест летняя кухня</p>
                </div>
              </div>
              <!-- End single quick icon -->
            </div>
            <div class="col-lg-2 col-sm-4">
              <!-- Start single quick icon -->
              <div class="single-quick-icon text-center">
                <div class="quick-icon-content">
                  <h1>1</h1>
                  <p>Музей природы</p>
                </div>
              </div>
              <!-- End single quick icon -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Quick Icon Area -->
      <!-- Start About Area -->
      <div class="about-area pb-115">
        <div class="about-bg">
          <img src="img/about/11.jpeg" alt="" />
        </div>
        <div class="container">
          <div class="row">
            <div class="col"></div>
            <div class="col-lg-6">
              <!-- Start section title -->
              <div class="section-title">
                <h2>«ДЖЕЙРАН» БУХАРСКИЙ ПИТОМНИК</h2>
              </div>
              <!-- End section title -->
              <div class="about-content">
                <p>
                  Бухарский специализированный питомник «Джейран» создан в мае
                  1977 года для разведения редких видов животных в особых
                  условиях и является государственным научно-производственным
                  центром. Питомник действует при Министерстве экологии, охраны
                  окружающей среды и изменения климата Республики Узбекистан.
                </p>
                <a href="#" class="btn btn-theme">Подробнее</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End About Area -->
      <!-- Start Advencher Area -->
      <div class="adventure-area pb-90 pt-50">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-6 col-md-8">
              <!-- Start section title -->
              <div class="section-title text-center">
                <h2>Животные <span></span>Разнообразие животного мира</h2>
              </div>
              <!-- End section title -->
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-sm-8">
              <!-- start single adventure -->
              <div class="single-adventure">
                <img src="img/adventure/22.jpg" alt="adventure" />
                <div class="adventure-content">
                  <a href="#"><h5>Газель Gazella subgutturosa</h5></a>
                </div>
              </div>
              <!-- end single adventure -->
            </div>
            <div class="col-lg-4 col-sm-8">
              <!-- start single adventure -->
              <div class="single-adventure">
                <img src="img/adventure/33.jpg" alt="adventure" />
                <div class="adventure-content">
                  <a href="#"><h5>Туркменская лошадь Equus hemionus</h5></a>
                </div>
              </div>
              <!-- end single adventure -->
            </div>
            <div class="col-lg-4 col-sm-8">
              <!-- start single adventure -->
              <div class="single-adventure">
                <img src="img/adventure/44.jpg" alt="adventure" />
                <div class="adventure-content">
                  <a href="#"><h5>Лошадь Пржеваля Equusferus przewalski</h5></a>
                </div>
              </div>
              <!-- end single adventure -->
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-sm-8">
              <!-- start single adventure -->
              <div class="single-adventure">
                <img src="img/adventure/55.png" alt="adventure" />
                <div class="adventure-content">
                  <a href="#"
                    ><h5>
                      Бухарский горный баран Ovis orientalis bokharensis
                    </h5></a
                  >
                </div>
              </div>
              <!-- end single adventure -->
            </div>
            <div class="col-lg-4 col-sm-8">
              <!-- start single adventure -->
              <div class="single-adventure">
                <img src="img/adventure/66.jpg" alt="adventure" />
                <div class="adventure-content">
                  <a href="#"><h5>Морхор Capra falconeri</h5></a>
                </div>
              </div>
              <!-- end single adventure -->
            </div>
            <div class="col-lg-4 col-sm-8">
              <!-- start single adventure -->
              <div class="single-adventure">
                <img
                  src="img/adventure/77.jpg"
                  alt="adventure"
                  style="height: 248px"
                />
                <div class="adventure-content">
                  <a href="#"><h5>Бухарский олень Cervus elaphus</h5></a>
                </div>
              </div>
              <!-- end single adventure -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Advencher Area -->
      <!-- Start Fun Facts Area -->
      <div class="funfact-area overlay-bg pt-170 pb-70 mb-170">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-md-8">
              <!-- Start section title -->
              <div class="section-title white text-center">
                <h2>БУХАРСКИЙ ПИТОМНИК</h2>
              </div>
              <!-- End section title -->
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-sm-6">
              <!-- Start single fact -->
              <div class="single-fact text-center">
                <div class="fact-info">
                  <img src="img/funfact/1.png" alt="" />
                  <span class="counter">1.5</span><span>КМ</span>
                  <p>ЛЕГКИЙ ПЕШКОМ</p>
                </div>
              </div>
              <!-- Start single fact -->
            </div>
            <div class="col-lg-3 col-sm-6">
              <!-- Start single fact -->
              <div class="single-fact text-center">
                <div class="fact-info">
                  <img src="img/funfact/3.png" alt="" />
                  <span class="counter">42</span><span>КМ</span>
                  <p>ОТ ГОРОДА БУХАРА</p>
                </div>
              </div>
              <!-- Start single fact -->
            </div>
            <div class="col-lg-3 col-sm-6">
              <!-- Start single fact -->
              <div class="single-fact text-center">
                <div class="fact-info">
                  <img src="img/funfact/4.png" alt="" />
                  <span class="counter">1</span><span></span>
                  <p>День</p>
                </div>
              </div>
              <!-- Start single fact -->
            </div>

            <div class="col-lg-3 col-sm-6">
              <!-- Start single fact -->
              <div class="single-fact text-center">
                <div class="fact-info">
                  <img src="img/funfact/6.png" alt="" />
                  <span class="counter">5145</span><span></span>
                  <p>5145 гектаров</p>
                </div>
              </div>
              <!-- Start single fact -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Fun Facts Area -->
      <!-- Start Selling Tips Area -->
      <div class="selling-tips-area pb-80 pt-120">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="selling-tips-wrap">
                <!-- Start single selling tips -->
                <div class="single-selling-tips section-title">
                  <h2>История</h2>
                  <p>
                    К 1960-м годам все большее число видов животных оказалось
                    под угрозой исчезновения, обычно из-за деятельности
                    человека. Защита и сохранение редких видов животных породили
                    необходимость создания Международного союза охраны природы
                    (МСОП). Эта организация разработала Всемирную стратегию
                    охраны природы. Проблему сохранения редких видов животных
                    предлагалось решать по нескольким направлениям, одним из
                    которых является искусственное воспроизводство. В 1970-е
                    годы во многих странах были приняты новые экологические
                    законы, созданы Красные книги стран, созданы питомники по
                    уходу за животными. В то же время на территории бывшего СССР
                    стали создаваться племенные питомники редких видов, из
                    которых 7 специализировались только на разведении джейранов
                    и были созданы на территориях Туркменистана, Азербайджана,
                    Грузии, Таджикистана и Узбекистана. После этого в
                    Узбекистане был создан один питомник - питомник "Джейран",
                    специализирующийся в Бухаре.
                  </p>
                </div>
                <!-- End single selling tips -->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-sm-6">
              <!-- start single adventure -->
              <div class="single-adventure">
                <img src="img/adventure/www.jpg" alt="adventure" />
                <div class="adventure-content">
                  <p class="tour">1 день</p>
                  <a href="#"><h6>Визит центр</h6></a>
                  <!-- <p class="price">$1950 <small>Per Person</small></p> -->
                </div>
              </div>
              <!-- end single adventure -->
            </div>
            <div class="col-lg-3 col-sm-6">
              <!-- start single adventure -->
              <div class="single-adventure">
                <img src="img/adventure/77.jpg" alt="adventure" />
                <div class="adventure-content">
                  <p class="tour">1 день</p>
                  <a href="#"><h6>Животные Разнообразие животного мира</h6></a>
                  <!-- <p class="price">$1587 <small>Per Person</small></p> -->
                </div>
              </div>
              <!-- end single adventure -->
            </div>
            <div class="col-lg-3 col-sm-6">
              <!-- start single adventure -->
              <div class="single-adventure">
                <img src="img/adventure/eee.png" alt="adventure" />
                <div class="adventure-content">
                  <p class="tour">1 день</p>
                  <a href="#"><h6>Животные внесенные в Красную книгу</h6></a>
                  <!-- <p class="price">$1236 <small>Per Person</small></p> -->
                </div>
              </div>
              <!-- end single adventure -->
            </div>
            <div class="col-lg-3 col-sm-6">
              <!-- start single adventure -->
              <div class="single-adventure">
                <img src="img/slider/slide-1.jpg" alt="adventure" />
                <div class="adventure-content">
                  <p class="tour">1 день</p>
                  <a href="#"><h6>Места экотуризма</h6></a>
                  <!-- <p class="price">$2548 <small>Per Person</small></p> -->
                </div>
              </div>
              <!-- end single adventure -->
            </div>
            <div class="col-lg-3 col-sm-6">
              <a href="#" class="btn btn-theme mt-30">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
      <!-- End Selling Tips Area -->
      <!-- Start Subscribe Area -->
      <!-- <div class="subscribe-area pt-100 pb-100 pb0-320">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="section-title">
                <p class="title">SIGN UP FOR OUR NEWSLETTER</p>
                <h2>
                  Sign up for travel deals, <span></span> news and inspiration
                </h2>
                <p>
                  Join our community of over 300,000 global readers who receive
                  emails filled with news, promotions, and other good stuff from
                  G Adventures.
                </p>
              </div>
              <form action="#" method="post" class="subscribe-form">
                <input
                  name="email"
                  class="widget-input"
                  placeholder="Enter your email address ......"
                  type="email"
                />
                <button type="submit" class="widget-sbtn">Subscribe Now</button>
              </form>
            </div>
          </div>
        </div>
      </div> -->
      <!-- End Subscribe Area -->
      <!-- Start Home Blog Area -->
      <div class="home-blog-area pt-100 pb-80 pb-res pb0-320">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-9 col-sm-12">
              <!-- Start section title -->
              <div class="section-title text-center">
                <h2>Животные внесенные в Красную книгу</h2>
              </div>
              <!-- End section title -->
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-sm-8">
              <!-- Start single post blog -->
              <div class="single-post-blog">
                <div class="post-thumbnail">
                  <img src="img/adventure/33.jpg" alt="" />
                </div>

                <div class="post-blog-content">
                  <a href="#"><h4>Туркменская лошадь Equus hemionus</h4></a>
                  <p>
                    1(CR) Республики Узбекистан «Красная книга» как локально
                    распространенный подвид, находящийся на грани полного
                    исчезновения, включенный в категорию Красной книги [NT]
                    Международного союза охраны природы;
                  </p>
                </div>
              </div>
              <!-- End single post blog -->
            </div>
            <div class="col-lg-4 col-sm-8">
              <!-- Start single post blog -->
              <div class="single-post-blog">
                <div class="post-thumbnail">
                  <img src="img/adventure/44.jpg" alt="" />
                </div>

                <div class="post-blog-content">
                  <a href="#"><h4>Лошадь Пржеваля Equusferus przewalski</h4></a>
                  <p>
                    Этот вид включен в категорию Красного списка (CR)
                    Международного союза охраны природы.
                  </p>
                </div>
              </div>
              <!-- End single post blog -->
            </div>
            <div class="col-lg-4 col-sm-8">
              <!-- Start single post blog -->
              <div class="single-post-blog">
                <div class="post-thumbnail">
                  <img src="img/adventure/55.png" alt="" />
                </div>

                <div class="post-blog-content">
                  <a href="#"
                    ><h4>
                      Бухарский горный баран Ovis orientalis bokharensis
                    </h4></a
                  >
                  <p>
                    Этот вид внесен в «Красную книгу» Республики Узбекистан
                    1(CR) как локально распространенный подвид, находящийся на
                    грани полного исчезновения, в Красную книгу Международного
                    союза охраны природы [VU A2cde].
                  </p>
                </div>
              </div>
              <!-- End single post blog -->
            </div>
            <div class="col-lg-4 col-sm-8">
              <!-- Start single post blog -->
              <div class="single-post-blog">
                <div class="post-thumbnail">
                  <img src="img/adventure/77.jpg" alt="" />
                </div>
                <div class="post-blog-content">
                  <a href="#"><h4>Хонгул Бухарский олень Cervus elaphus</h4></a>
                  <p>
                    Этот вид внесен в «Красную книгу» Республики Узбекистан
                    1(EN) как исчезающий, локально распространенный подвид
                  </p>
                </div>
              </div>
              <!-- End single post blog -->
            </div>
            <div class="col-lg-4 col-sm-8">
              <!-- Start single post blog -->
              <div class="single-post-blog">
                <div class="post-thumbnail">
                  <img src="img/adventure/66.jpg" alt="" />
                </div>
                <div class="post-blog-content">
                  <a href="#"><h4>Морхор Capra falconeri</h4></a>
                  <p>
                    Этот вид внесен в «Красную книгу» Республики Узбекистан
                    1(CR) как локально распространенный подвид, находящийся на
                    грани полного исчезновения, в Красный список [НТ]
                    Международного союза охраны природы.
                  </p>
                </div>
              </div>
              <!-- End single post blog -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Home Blog Area -->
      <!-- Start Guide Area -->
      <div class="guide-area pt-170 pb-85">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-10">
              <!-- Start section title -->
              <div class="section-title text-center">
                <h2>Газель Gazella subgutturosa</h2>
                <p>
                  Популяция джейранов изначально была создана искусственно в
                  полусвободной среде на закрытой территории площадью 5145 га.
                  Изначально выпущенные джейраны 39-55 имели одинаковый половой
                  состав и репродуктивный возраст. Эксплуатация ресурсов
                  популяции джейранов началась в 1980-х годах и продолжается по
                  сей день. За эти годы в дикую природу было выпущено более 822
                  джейранов, около 400 - в зоопарки и частные владельцы или
                  питомники, 78 - в качестве охотничьего продукта и около 120
                  джейранов - в результате выборочной охоты охотничьими
                  собаками.
                </p>
              </div>
              <!-- End section title -->
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <!-- Start single guide -->
              <!-- End single guide -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Guide Area -->
      <!-- Start Partner Area -->
      <div class="partner-area pb-220">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-10">
              <!-- Start section title -->
              <div class="section-title text-center">
                <h2>О детях Джейрана заботятся</h2>
              </div>
              <!-- End section title -->
            </div>
          </div>
          <div class="row">
            Дзерен – один из 5 уникальных видов животных, которых специально
            содержат и разводят в бухарском специализированном питомнике
            «Джайрон», а вид животных, составляющий самую большую популяцию по
            численному показателю, – джейран. На данный момент численность
            джейранов на территории питомника составляет около 1200 особей.
            Разводимых на территории питомника джейранов отделяют от
            новорожденных детенышей от ежегодного процесса размножения и
            дрессируют вручную в специальных условиях. В настоящее время 18
            джейранов отделены от сезона размножения 2023 года и находятся под
            ручным уходом в особых условиях. Детенышей джейрана в туристических
            целях доставляют в зоопарки и питомники Республики Узбекистан и
            соседних республик.
          </div>
        </div>
      </div>
      <!-- End Partner Area -->
      <!-- Start Footer Area -->
      <footer class="footer-area pt-85 pb-60">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-sm-12">
              <!-- start contact us widget -->
              <div class="widget contact-us">
                <h3>Контакты</h3>
                <ul>
                  <li>
                    <a href="#"
                      ><i class="fal fa-paper-plane"></i>Бухарская область,
                      200700, город Каган, ГСП</a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fal fa-envelope"></i>support@admin.com</a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fal fa-phone-alt"></i>+99893 683 93 81 +99894
                      653 22 81, +99894 540 03 07 +99891 418 55 65</a
                    >
                  </li>
                </ul>
              </div>
              <!-- end contact us widget -->
            </div>
          </div>
        </div>
      </footer>
      <!-- End Footer Area -->
      <!-- Start Copyright Area -->
      <div class="copy-right-area">
        <div class="container">
          <div class="row">
            <div class="col-sm-8">
              <!-- Start copyright text -->
              <div class="copyright-text text-center">
                <p>© 2024 All rights reserved.</p>
              </div>
              <!-- End copyright text -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Copyright Area -->
    </div>
    <!-- End Wrapper -->
    <!-- all js here -->
    <!-- jquery latest version -->
    <script src="js/vendor/jquery-3.3.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- popper js -->
    <script src="js/popper.min.js"></script>
    <!-- owl carousel js -->
    <script src="js/owlcarousel.min.js"></script>
    <!-- meanmenu js -->
    <script src="js/meanmenu.min.js"></script>
    <!-- counterup js -->
    <script src="js/counterup.min.js"></script>
    <!-- scrollup js -->
    <script src="js/scrollup.min.js"></script>
    <!-- waypoints js -->
    <script src="js/waypoints.min.js"></script>
    <!-- imagesloaded js -->
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <!-- Isotope js -->
    <script src="js/isotope.min.js"></script>
    <!-- main js -->
    <script src="js/main.js"></script>
  </body>
</html>
