<!DOCTYPE html>
<html lang="en">
  <head> <title>Логин</title><%- include('./partials/head'); %></head>
  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->
    <!-- Start Preloader -->
    <%- include('./partials/preloader'); %>
    <!-- End Preloader -->
    <!-- Start Wrapper -->
    <div class="wrapper">
      <header id="header" class="header-area style-2 header-border absulate-header"><%- include('./partials/header'); %></header>
      	<!-- End Header -->
			<!-- Start Bradcumb Area -->
			<div class="bradcumb-area cart overlay-bg-4">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col">
							<!-- Start bradcumb -->
							<div class="bradcumb text-center">
								<h3>Логин</h3>
								<ul>
									<li><a href="/">Главная</a></li>
									<li>Логин</li>
								</ul>
							</div>
							<!-- End bradcumb -->
						</div>
					</div>
				</div>
			</div>
			<!-- End Bradcumb Area -->
			<!-- Start Login Area -->
			<div class="login-area pt-90">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-5 col-md-5">
							<img class="mb-5" src="img/about/11.jpeg" alt="">
						</div>
						<div class="col-xl-6 col-lg-7 col-md-7">
							<!-- Start section title -->
							<div class="section-title font-s30">
								<h2>Войдите в свой аккаунт</h2>
							</div>
							<!-- End section title -->
							<div class="login-form">
								<!-- <ul>
									<li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i> Login With Facebook</a></li>
									<li><a class="twiter" href="#"><i class="fab fa-twitter"></i> Login With Twitter</a></li>
									<li><a class="google" href="#"><i class="fab fa-linkedin-in"></i> Login With Google</a></li>
								</ul> -->
								<form action="#" class="gane-form">
									<!-- start field left -->
									<div class="form-left">
										<!-- Start Single Field -->
										<div class="single-field">
											<input type="text" class="form-control" placeholder="номер телефона">
										</div>
										<!-- End Single Field -->
										<!-- Start Single Field -->
		
										<!-- End Single Field -->
										<!-- Start Single Field -->
										<div class="single-field ">
											<input type="text" class="form-control" placeholder="Пароль">
										</div>
										<!-- End Single Field -->
										<div class="password">
											<p><input type="checkbox">Запомнить пароль</p>
											<p>Забыли свой <a href="#">пароль?</a></p>
										</div>
                    <div class="password"><p><a href="signup">Зарегистрироваться</a></p></div>
										<button class="btn btn-theme" type="submit">Войти</button> 
									</div>
									<!-- End field left -->
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Start Partner Area -->
			<div class="partner-area pt-85 pb-220">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-10">
							<!-- End section title -->
						</div>
					</div>
				</div>
			</div>
    <%- include('./partials/footer'); %>
  </body>
</html>

